@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-lightmode-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(204 224 194 / var(--tw-bg-opacity));
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.underline {
  text-decoration-line: underline;
}